.sorting{
    height: 100vh;
    .numberInput{
        margin: 20px;
    }
    .sortBtn{
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        background-color: rgb(135, 135, 245);
    }
}